@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 44 100% 95%;
        --foreground: 44 5% 0%;
        --card: 44 50% 90%;
        --card-foreground: 44 5% 10%;
        --popover: 44 100% 95%;
        --popover-foreground: 44 100% 0%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 44 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 40 30% 85%;
        --muted-foreground: 44 5% 35%;
        --accent: 222 80% 77%;
        --accent-foreground: 44 5% 10%;
        --destructive: 26 91% 53%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 0%;
        --input: 44 30% 18%;
        --ring: 44 60% 95.1%;
        --radius: 1rem;
    }
    .dark {
        --background: 44 50% 5%;
        --foreground: 44 5% 90%;
        --card: 44 50% 0%;
        --card-foreground: 44 5% 90%;
        --popover: 44 50% 5%;
        --popover-foreground: 44 5% 90%;
        --primary: 44 60% 95.1%;
        --primary-foreground: 0 0% 0%;
        --secondary: 44 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 6 30% 15%;
        --muted-foreground: 44 5% 60%;
        --accent: 6 30% 15%;
        --accent-foreground: 44 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 44 5% 90%;
        --border: 44 30% 18%;
        --input: 44 30% 18%;
        --ring: 44 60% 95.1%;
        --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
